<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Miura contact</title>
    <meta name="description" content="初めてのホームページ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/top.scss">
    <%# ”後で設定ロゴ入れる”<link rel="icon" type="image/png" href =""> %>
  </head>

<body>
    <div id="contact" class="big-bg">      
      <header class="page-header wrapper">
          
        <h1><a href='/'> <%= image_tag 'kamen.jpg',class: 'logo'%></a></h1>
          
          <nav>
            <ul class="main-nav">
                <li><%= link_to "News", '/news' %></li>
                <li><%= link_to "menu", '/news/new' %></li>
                <li><%= link_to "contact", '/news/show' %></li>
            </ul>
          </nav>
       </header>
       <div class="wrapper">
        <h2 class="page-title">contact</h2>
          <form action="a">
            <div>
              <label for="name">お名前</label>
              <input type="text" id="name" name="your-name">
            </div>
            <div>
              <label for="email">メールアドレス</label>
              <input type="email" id="email" name="your-email">
            </div>
            <div>
              <label for="message">メッセージ</label>
              <textarea id="message" name="your-meassage"></textarea>
            </div>

            <input type ="submit" class="button" value="送信">
          </form>
        </div><!-- weapper -->       
    
    </div><!--/#contact -->

    <section id="location">
      <div class="wrapper">
        <div class="location-info">
        <h3 class="sub-title">お問い合わせ</h3>
          <p>
            住所：宮城県黒川郡大和町吉岡字上柴崎13−１<br>
            電話：022-345-2332<br>
            営業時間：９時から１９時まで
            休日：日曜・祝日
        </p>
        </div><!-- location-info -->
        <div class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3124.9551205683983!2d140.89395261512686!3d38.44250557964337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f89776e76acd7d7%3A0x45ed7e09c02e6ae2!2z44CSOTgxLTM2MjEg5a6u5Z-O55yM6buS5bed6YOh5aSn5ZKM55S65ZCJ5bKh5LiK5p-05bSO77yR77yT4oiS77yR!5e0!3m2!1sja!2sjp!4v1580632431254!5m2!1sja!2sjp" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div><!-- /.location-map -->        
      </div><!-- wrapper -->
    </section><!-- /#location -->

    <section id="sns">
      <div class= "wrapper">
        <div class ="sns-box">
          <h3 class ="sub-title">Facebook</h3>
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height="315" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
        </div>
      
      <div class="sns-box">
      <h3 class ="sub-title">Twitter</h3>
        <a class="twitter-timeline" data-height="350" href="https://twitter.com/39miyagi?ref_src=twsrc%5Etfw">Tweets by 39miyagi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    <div class="sns-box">
      <h3 class ="sub-title">YouTube</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bYjrND6tEac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
  </div><!-- /.wrapper -->
  </section><!-- /#sns -->

</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v5.0"></script>   
  <footer>
    <div class ="wrapper">
        <p><small>&copy: 2020 News box</small></p>
  </footer>
</html>


<% link_to "投稿ページ",  new_post_path %>
