<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Miura test</title>
    <meta name="description" content="初めてのホームページ">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <header class="page-header">
      <h1><a href="top.html"><img class="logo" src="../../assets/images/kamen.jpg" alt="三浦HP"></a></h1>

      <nav>
          <ul clss="main-nav">
              <li><a href="news.html">News</a></li>
              <li><a href="menu.html">Menu</a></li>
              <li><a href="contact.haml">Contact</a></li>
          </ul>
      </nav>
  </body>
</html>