<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Miura test</title>
    <meta name="description" content="初めてのホームページ">
    <link rel="stylesheet" href="stylesheets/top.scss">
  </head>

  <body>
    <!-- <header class="page-header"> -->
      <h1><a href="top.html"><img class="logo" src="kamen.jpg" alt="三浦HP"></a></h1>
      <img src="kamen.jpg"  alt="test">

      <nav>
          <ul clss="main-nav">
              <li><a href="news.html">News</a></li>
              <li><a href="menu.html">Menu</a></li>
              <li><a href="contact.haml">Contact</a></li>
          </ul>
      </nav>
  </body>
</html>