
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Miura test</title>
    <meta name="description" content="初めてのホームページ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%#↑viewportとは様々なデバイスにおける表示領域のこと。指定をしないとデスクトップの横幅に合わせられる
    　この記述だけでは足りなくcssにも画面の大きさを指定する必要がある%>
    <link rel="stylesheet" href="stylesheets/top.scss">
    <%# ”後で設定ロゴ入れる”<link rel="icon" type="image/png" href =""> %>
  </head>

  <body>
    <div id="home" class="big-bg">      
      <header class="page-header wrapper">
        <h1><a href='index.html.erb'> <%= image_tag 'kamen.jpg',class: 'logo'%></a></h1>
        <nav>
            <ul class="main-nav">
              <li><%= link_to "News", '/news' %></li>
              <li><%= link_to "menu", '/news/new' %></li>
              <li><%= link_to "contact", '/news/show' %></li>
            </ul>
        </nav>
      </header>

      <div class="home-content wrapper">
        <h2 class= "page-title">初めてのホームページMiura!</h2>
          <p>なんとかホームページを作ってみました。</p>
            <a class ="button" href="/posts/new">メニューをみる</a>
      </div><!--/.home-content -->
    </div><!--/#home -->
  </body>
</html>


<% link_to "投稿ページ",  new_post_path %>
